.card{
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    background: #4080FF;
    border-radius: 0.8rem;

    position: relative;
    overflow: hidden;

    padding-left: 2rem;
    padding-right: 2rem;
    
    padding-top: 25px;
    padding-bottom: 25px;

    align-items: center;
    display: flex;
}

.card + .card{
    margin-left: 4rem;
}

