
.page-body {
    background-color: #F5F8FB;
    .content {
        line-height: 4rem;
        .tittle {
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
        }
        .data {
            color: #fff;
            font-weight: 700;
            font-size: 2.5rem;
            text-align: left;
        }
    }
}
