.suggest-select-machine{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: 1;
   
    p{
        color: #4D5971;
        font-weight: bold;
    }
}